*{
    margin: 0;
    padding: 0;

}
#navbar{
    width: 100%;
    position: fixed;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.logo{
    color: black;
}
.nav_svg{
    display: flex;
}
.cart_count{
    background-color: #ff6500;
    position: relative;
    right: 9px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.cart_detail{
    height: 700px;
}
.final_items{
width: 100%;
}
.final-items{
    justify-content: space-between;
}
.total_items{
    margin-top: 10px;
    font-size: 1rem;
}
.clear-cart{
    padding: 10px;
    border: none;
    background-color: red;
    color:white;
}
.view-btn{
    width: 100%;
    border: none;
    background-color: gray;
    padding: 10px 0px;
    margin-top: 10px;
}
.check-btn{
    width: 100%;
    border: none;
    background-color: rgb(24, 24, 24);
    margin-top: 10px;
    padding: 10px 0px;
    color: white;
}